* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
  overflow-y: auto;
  max-width: 100%;
}

body {
  font-family: 'Roboto Mono', monospace;
  background: url('./assets/background-img.jpg') center/cover no-repeat;
  background-size: auto;
}

.page-subtitle,
.page-text {
  margin-top: 1rem;
}

.container {
  background-color: rgba(0, 0, 0, 0.13);
  text-align: start;
  color: white;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  padding: 1.5rem;
}

.calculator-container {
  background-color: rgba(20, 179, 190, 0.397);
  margin-top: 2rem;
  border-radius: 1rem;
}

.calculator {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
}

.input-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  height: 3rem;
}

input {
  border: none;
  background-color: lightgray;
  color: black;
  font-family: 'Roboto Mono', monospace;
  border-radius: 0.3rem;
  width: 6rem;
}

input::placeholder {
  text-align: center;
}

#name {
  width: 10rem;
}

button {
  border: none;
  font-family: 'Roboto Mono', monospace;
  height: 3rem;
  width: 6rem;
  border-radius: 0.3rem;
  background-color: rgb(0, 238, 255);
  cursor: pointer;
}

#clear-button {
  background-color: lightgray;
  color: rgb(78, 78, 78);
}

#result {
  width: 10rem;
  height: 3rem;
  background-color: black;
  color: rgb(0, 238, 255);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.3rem;
}

.error {
  display: flex;
  justify-content: center;
  color: rgb(0, 238, 255);
}

.historical {
  padding: 1rem;
  margin-top: 1rem;
  background-color: rgba(128, 128, 128, 0.445);
  border-radius: 1rem;
}

#history-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#history-table th,
#history-table td {
  border: 1px solid gray;
  padding: 10px;
  text-align: center;
}

#history-table th {
  background-color: rgba(20, 179, 190, 0.397);
  color: white;
}

#history-table tr:nth-child(even) {
  background-color: #f2f2f259;
}

#history-table tr:hover {
  background-color: black;
}